html {
    scroll-behavior: smooth;
}

body {
    background-color: #242424;
}

header {
    background-color: whitesmoke;
    border-radius: 20%;
    cursor: pointer;
}

img {
    float: left;
    margin-right: 20px;
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    border-radius: 28%;
}

ul {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
    padding-bottom: auto;
    padding-right: 15%;
    padding-left: 15%;
    color: whitesmoke;
    text-align: justify;
}

.container {
    letter-spacing: 1px;
}

.purplelink {
    text-decoration: none;
    color: #242424;
}

.purplelink2 {
    text-decoration: none;
    color: purple;
}

.titre {
    text-align: center;
    background-color: white;
    position: top;
    font-size: xx-large;
    color: #242424;
    border-radius: 50%;
}

.overflow:hover {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.overflow:hover {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}

h2:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}